

.container{
    width:100vw;
    max-width: 1980px;
    margin: auto;
    background: url("../../assets/ContactInfoBg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.contactContainer
{
    max-width: 1400px;
}

.contactContainer h2, .contactSection
{
    max-width: 961px;
}

.bottombg
{
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    padding-top: 50px;
    background: url("../../assets/JoinUsNewsGrad.png");
    background-repeat: no-repeat;
    background-position: bottom;
}



/* ***************************
 Tarun code Added In Above   
 ************************** */   


/*.container{
    width:100vw;
    max-width: 1920px;
    margin: auto;
    height: 1182px;
 
    background-position: center;
}

.contactContainer
{
    max-width: 1400px;
}

.contactContainer h2, .contactSection
{
    max-width: 961px;
} */