/* .container{
    padding: 40px 0px;  
    background-color: #000;
} */

.container{
    width:100vw;
    max-width: 1920px;
    margin: auto;
    height: 1182px;
    /* margin-bottom: -300px !important; */
    /* background-image: url("../../assets/cntct.png"); */
    /* background-image: url("../../assets/contactInformation.png"); */
    background-position: center;
}

.contactContainer
{
    max-width: 1400px;
}

.contactContainer h2, .contactSection
{
    max-width: 961px;
}