
.hoverimagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    height: 80vh    ;
    
    background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/Subscribee.png') no-repeat center center;
    
    

    background-color: #0b0d24; 
  }
  .hovercointainer{
    background-image: linear-gradient(white, black);
  }
  
  .imagewrapper {
    position: relative;
    width: 100%;
    margin-top: -180px;
  
    max-width: 550px;
  }
  .imagewrapper img {

    /* background-image: linear-gradient(white, black); */
    
    background: linear-gradient(130deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),no-repeat center center;
  }
  
  .hoverimage {
    width: 100%;
    box-shadow: 0px 4px 20px rgba(22, 20, 20, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
  /* .imagewrapper:hover .hoverimage {
    transform: scale(.05); 
  } */
  
  .overlay {
    position: absolute;
    
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 1rem;
    
  }
  
  .overlay p{
  
   
color: var(--Accent-Accent-50, #F6FFFF);
text-align: center;
margin-top: -30px;
background-color: rgba(0, 0, 0, 0.6);
font-family: "Noto Kufi Arabic";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 150%;
  }
  
  .subscribebutton {
   
    display: flex;
padding: 24px 32px;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: bold;
margin-top: 30px;
margin-left: 200px;
gap: 8px;
border-radius: 64px;
background: var(--Accent-Accent-400---Main, #39FFFB);
box-shadow: 0px 10px 30px 0px rgba(90, 255, 234, 0.30);
  }
  
  .imagewrapper:hover .overlay {
    
    /* Move the text up when hovering */
  }
  
  @media (max-width: 768px) {
    .hoverimagecontainer {
      padding: 10px;

    }
  
    .overlay {

      font-size: 1.2rem;
    }
  
    .subscribebutton {
      padding: 8px 16px;
    }
  }
 