.carouselcontainer {
  background-color: #030b11;
  background-image: url("../../assets/E-booklets-backround-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%; 
  max-width: 1900px; 
  margin: 0 auto;
 
}

.carouselcontainer h2 {
  color: #FFF;
  text-align: center;
  font-family: "Noto Kufi Arabic";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; 
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 90px;
}

.sliderContainer {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.sliderContainer::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  flex: 0 0 auto;
  
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  
  border-radius: 5px;
  height: 500px;
  color: #fff;
  width: 330px;
}

.card img{
  height: 500px;
  width: 100%;
}

.card h2 {
  font-size: 17px;
  text-align: right;
}

.contentimg p {
  font-size: 11px;
  width: 100px;
}

.contentimg {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 170px;
}

.arrowLeft, .arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.arrowLeft {
  left: 20px;
  border-radius: 50%;
  background-color: #4444;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
height: 66px;
flex-shrink: 0;
}

.arrowRight {
  right: 20px;

  border-radius: 50%;
  width: 60px; 
  height: 60px;
  background-color: #4444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowLeft:hover, .arrowRight:hover {
   background-color: #4444;
}
.contentpara p{
color: #FFF;
text-align: center;
font-family: "Noto Kufi Arabic";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
padding: 10px 200px;
width: 70%;
margin: 0 auto;

}

@media (max-width: 768px) {
  .card {
    flex: 0 0 100%;
    width: 275px;
  }

  .arrowLeft, .arrowRight {
    font-size: 24px;
  }
  .contentpara p{
    color: #FFF;
    text-align: center;
    font-family: "Noto Kufi Arabic";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    padding: 10px 10px;
    
    }
  }