.herosection, .heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  margin-top: 30px;
}

.herosection {
  z-index: 0;
}

.heroContainer {
  color: #fff;
  font-family: "Noto Kufi Arabic", sans-serif;
  max-width: 1920px;
  min-height: 850px;
  overflow: hidden;
}

.overlay, .rightoverlay, .leftoverlay {
  position: absolute;
  background: var(--Neutral-Website-Bakground---Dark, #030B11);
  z-index: 1;
}

.overlay {
  left: 0;
  width: 40%;
  height: 100%;
  filter: blur(20px);
  opacity: 0.6;
}

.rightoverlay, .leftoverlay {
  bottom: -100px;
  opacity: 1;
}

.rightoverlay {
  left: 0;
  width: 60%;
  height: 40%;
  filter: blur(40px);
}

.leftoverlay {
  right: 0;
  width: 50%;
  height: 30%;
  filter: blur(100px);
}

.content {
  z-index: 2;
  text-align: start;
  margin: 0 20% 0 15%;
  max-width: 750px;
  position: relative;
}

.title {
  max-width: 660px;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.6;
}

.description {
  max-width: 500px;
  line-height: 1.5;
  font-weight: 300;
}

.signUpButton {
  display: none;
}

.backgroundVideo {
  transform: scaleX(-1);
  position: absolute;
  width: 100vw;
  max-width: 1413px;
  max-height: 910px;
  right: 0;
  height: 100%;
  background: linear-gradient(315deg, #030B11 29.58%, rgba(0, 0, 0, 0) 69.85%);
  object-fit: cover;
  z-index: 0;
}

@media (max-width:1220px) {
  .content { zoom: 0.8; }
}

@media (max-width:768px) {
  .content { zoom: 0.7; 
  }
}
