.herosection, .heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 80px;
}

.heroContainer {
  color: #fff;
  font-family: "Noto Kufi Arabic", sans-serif;
  max-width: 1920px;
  min-height: 850px;
  position: relative;
  overflow: hidden;
}

.overlay, .rightoverlay, .leftoverlay {
  position: absolute;
  background: var(--Neutral-Website-Bakground---Dark, #030B11);
  z-index: 1;
}

.overlay {
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
  filter: blur(20px);
  opacity: 0.6;
}

.rightoverlay {
  right: 0;
  bottom: -100px;
  width: 60%;
  height: 40%;
  filter: blur(40px);
}

.leftoverlay {
  left: 0;
  bottom: -100px;
  width: 50%;
  height: 30%;
  filter: blur(100px);
}

.content {
  z-index: 2;
  text-align: start;
  margin: 0 20% 0 15%;
  max-width: 750px;
  width: 100%;
  position: relative;
}

.title {
  max-width: 660px;
  font-size: 65px;
  font-weight: 700;
  line-height: 160%;
  text-align:start;
}

.description {
  max-width: 500px;
  line-height: 1.5;
  font-weight: 300;
  margin-top: 10px;
}

.signUpButton {
  border-radius: 50px;
  background-color: #39fffb;
  padding: 10px 20px;
  color: #030b11;
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  border: none;
  z-index: 3;
}

.backgroundVideo {
  position: absolute;
  width: 100vw;
  max-width: 1413px;
  max-height: 910px;
  left: 0;
  height: 100%;
  background: linear-gradient(315deg, #030B11 29.58%, rgba(0, 0, 0, 0) 69.85%);
  object-fit: cover;
  z-index: 0;
}

@media (max-width:1220px) {
  .content { zoom: 0.8; }
}

@media (max-width:768px) {
  .content {
    zoom: 0.8;
    margin: 0 40px 0 0;
  }
}

@media (max-width:470px) {
  .content {
    zoom: 0.65;
    margin: 0 20px 0 0;
  }
}
