.heroContainer {
  color: white;
  font-family: "Noto Kufi Arabic", sans-serif;
  height: 90vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 50px;
  background-color: #000 !important; 
}

.content {
  margin-top: 100px;
  position: relative;
  z-index: 2;
  text-align: start;
  max-width: 950px;
  width: 100%;
}

.title {
  line-height: 1.5;
  font-weight: 700;
  text-align: start;
}

.description {
  width: 100%;
  max-width: 540px;
  /* font-size: 16px; */
  line-height: 1.5;
  color: #fff;
  margin-top: 10px;
}

.primaryButton {
  border-radius: 50px;
  background-color: #39fffb;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  border: none;
  position: relative;
  z-index: 3;
}

/* Correct background image handling */
.backgroundImage {
  background-image: url("../../assets/HomeHero.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the full background */
  z-index: 1;
}
