.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 60px;
    background: rgba(26, 34, 40, 0.60);
    backdrop-filter: blur(30px);
    background-size: cover;
    background-repeat: no-repeat;
    direction: rtl;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
  }
  
  .leftLinks a {
    color: #FFF;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }
  .leftLinks a:hover{
    color: #0ccac4;
    font-weight: 500;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 20px;
    border-color: #0ccac4;
  }
  
  .searchContainer input {
    border: none;
    background: transparent;
    color: rgba(246, 255, 254, 0.40);
    font-size: 14px;
    outline: none;
    margin-left: 5px;
  }
  
  .searchButton {
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
  }
  
  .rightLinks a {
    color: #0ccac4;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .signupButton {
    border-radius: 64px;
    background: var(--Primary-Primary-300, #1A374B);
    padding: 8px 24px;
    color: #39FFFB;
    font-size: 16px;
    font-weight: 700;
  }
  
  .logo {
    height: 40px;
  }
  