.OurservicesConatiner {
    height: 50vh;
    background-image: url('../../assets/Ourservicesbanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .text {
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }
  
  .ourservicesvector {
    background-image: url('../../assets/ourservicevector.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .frane64 {
    background-image: url('../../assets/Frame 64.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  }
  
  .frane64 .quotesIcon {
    height: 80px;
    padding-left: 20px;
  }
  
  .frane64 p {
    font-size: 1.5rem;
    padding: 0 20px;
    text-align: left;
    line-height: 1.5;
    flex: 1;
  }
  
  .text2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 5%;
    margin-top: 20px;
  }
  
  .text2 h1 {
    font-size: 2rem;
    color: #5affff;
    text-align: center;
  }
  
  .text2 p {
    font-size: 1rem;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .OurservicesConatiner {
      height: auto;
      padding: 20px;
    }
  
    .ourservicesvector {
      margin-top: 20px;
    }
  
    .text2 {
    
      padding: 0;
      margin-top: 10px;
    }
  
    .text2 h1 {
      font-size: 1.2rem;
      padding-top: 20px;
    }
  
    .text2 p {
      font-size: 0.9rem;
    }
  
    .frane64 {
      height: auto;
      margin: 20px auto;
      padding: 20px;
    }
  
    .frane64 .quotesIcon {
      height: 40px;
      padding-left: 10px;
    }
  
    .frane64 p {
      font-size: 10px;
      line-height: 1.3;
    }
  }
  