 .faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/Faqsbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  padding:0 20px;

  margin: 0 auto;
  width: 100%;
  max-width: 1500px !important;
}

.faqContainer h2 {
  padding-top: 100px;
  padding-bottom: 50px;
  /* margin-bottom: 40px; */
  color: white;
}

.faqList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faqItem {
  width: 70%;
  max-width: 1000px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent; 
  padding: 8px 10px;
  box-sizing: border-box; 
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  color: #39FFFb;
  transition: background-color 0.3s ease;
  margin-left: 100px;

  }

.faqItem.active {
  border-color: #39FFFb; 
 
}

.question {
  color: rgba(90, 255, 255, 0.40);
  text-align: start;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;

 
}

.answer {
  color: white;
  text-align: start;
  display: none; 
  margin: 0 auto;
  position: relative;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 140%; 
  margin-left: 120px;

}

.showAnswer {
  display: block; 
  margin-top: 10px;
}

.arrowButton {
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  color: white;
  display: flex;
  margin-left: 60%;
  background-color: gray;
  border-radius: 20px;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.arrowButton:hover {
  transform: translateY(5px);
}

.arrowButton:focus {
  outline: none;
}



.arrowButton {
  margin-left: 0; 
  font-size: 20px; 
}

@media (min-width: 800px) {
  .faqContainer {
    /* padding: 40px; */
    max-width: 1200px; 
    margin: 0 auto;
    align-items: center;

  }
  .faqItem {
    max-width: 100%;
    padding-right: 100px;
    padding-left: 70px;
  }

  .faqItem.active {
     padding-right: 30px;
    
   
  }

  .question {
    font-size: 18px;
  }

  .answer {
    width: 90%; 
    padding: 0px 0px 0px 0px;
    margin-left: 5px;

  }

  .arrowButton {
    margin-left: 60%;
    font-size: 24px;
  }
} 


@media (min-width: 1024px) {
  .faqContainer {
    max-width: 1200px; 
    margin: 0 auto;
    align-items: center;

  }

  .faqItem {
    max-width: 100%;
    padding-right: 40px;
    padding-left: 20px;
  }

  .faqItem.active {
     padding-right: 10px; 
   
  }

  .question {
    padding-left: 100px; 
    font-size: 18px;
  }

  .answer {
    width: 60%; 
    margin-left: 100px;
    padding: 0px 0px 0px 0px;

  }

  .arrowButton {
    margin-left: 60%;
    font-size: 24px;
  }
} 

@media (max-width: 768px) {
  .faqContainer {
    padding: 15px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .faqItem {
    max-width: 100%; 
  }
  .faqItem.active {
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 20px;
   
  }
  .question {
    padding-left: 20px; 
    font-size: 16px; 
  }

  .answer {
    padding-left: 20px; 
    padding-right: 20px;
    margin-left: 3px;

  }

  .arrowButton {
    margin-left: auto; 
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .faqContainer {
    padding: 10px;
    margin: 0 auto;
    align-items: center;
  }

  .faqItem {
    max-width: 100%;
  }
  .faqItem.active {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
   
  }

  .question {
    padding-left: 10px;
    font-size: 14px; 
  }

  .answer {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px; 
    margin-left: 0px;

  }

  .arrowButton {
    margin-left: 0;
    font-size: 18px; 
  }
}



