.header{
    width: 100vw;
    max-width: 1920px;
    padding-top: 150px;
    min-width: 1200px;
    display:flex;
justify-content: center;
align-items: center;
    background-image: url("../../assets/MaflamBlog.png");
    margin: auto;

}

.header h1 {
color: #FFF;
text-align: center;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 30px;
/* Headlines/Headline 1 */
font-family: "Noto Kufi Arabic";
font-size: 65px;
max-width: 1106px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.searchBar input  {
    display: flex;
width: 308.796px;
padding: 16px;
justify-content: space-between;
align-items: center;
border-radius: 64px;
border: 1px solid rgba(90, 255, 234, 0.40);
background: rgba(255, 255, 255, 0.05);
}


.searchBar button {
    border-radius: 64px;
border: 1px solid #5AFFFF;
background: #5AFFFF;
display: inline-flex;
padding: 16px;
justify-content: space-between;
align-items: center;

}