
.maincontainer{
  background: linear-gradient(135deg, #000000, #020f2f);
 }
 .container {
  display: flex;
  font-family: Noto Kufi Arabic;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  min-height: 1600px;
  background: linear-gradient(90deg, #000000, #020f2f);
  background-image: url("../../assets/Checkoutbg.png");  
  
}

.card {
  width: 100%;
  max-width: 600px;
  /* background-color: #111b3d; */
  background-color: #05121C;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.paymentCard{
  display:  flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 30px;
}
/* new css  */
.paymentOptions {
  margin: 20px 0;
  
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.paymentOptions p{
  font-size: 20px;

}
.dirrection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0px;
  font-size: 30px;


}
.direction input {
  font-size: 30px;
  margin-left: 100px;
 
  display: flex;
}
.paymentOptions label {

max-width:  400px;
display: flex;
font-size: 30px;
  margin: 5px 0;
  font-size: 14px;
}

.paymentOptions  {
  margin-top: 20px;
}
/* new css */
.paymentCard img {
  height: 20px;
  width: 35px;
  margin-top: 5px;
  
}
.image {
  width: 100%;
  height: 280px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
  font-family: Noto Kufi Arabic;
  color: #39FFFB;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.titles {
  /* margin-top: 40px;
  margin-bottom: 30px; */
  /* font-size: 10px;
  font-weight: 300;
  margin-bottom: 60px; */
  
}

.form {
  display: flex;
  flex-direction: column;
}


.inputGroup {
  margin-bottom: 15px;
}

.inputGroupHalf {
  display: flex;
  justify-content: space-between;
}

.inputGroupHalf div {
  width: 48%;
}
.coupon{
  display: flex;
  flex-direction: column;

}

.coupon label {
margin-top: 20px;
  font-size: 24px;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #00d0ff;
  background-color: #0f2440;
  color: #fff;
}

/* .sendBtn {
  margin-top: 10px;
  background-color: #00d0ff;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
} */
.paras{margin:20px 0px 30px 0px;
 text-align: center;
 font-family: Noto Kufi Arabic;
 color: #39FFFB;
}
.termconditions{
  color: #39FFFB !important;
  font-family: Noto Kufi Arabic;
  font-weight: 400;
  font-size: 14px;

}
.termconditions1{
  color: #39FFFB !important;
  font-family: Noto Kufi Arabic;
  font-weight: 400;
  font-size: 14px;

}

.termconditions1 a {
  color: white;
  font-family: Noto Kufi Arabic;
  font-weight: 400;
  font-size: 14px;
}

.payBtn {
  /* background-color: #39FFFB;
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  font-size: 20px;
  color: black  ;
  border: none;
  cursor: pointer;
  margin-top: 20px; */
  border-radius: 64px;
  font-size: 20px;
background: var(--Accent-Accent-400---Main, #39FFFB);
box-shadow: 0px 10px 30px 0px rgba(90, 255, 234, 0.30);
display: flex;
width: 593px;
margin-top: 30px;
padding: 20px 28px;
justify-content: center;
align-items: center;
gap: 8px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.coupon {
  display: flex;
  align-items: center;
  gap: 0px; /* Add space between input and button */
}

.coupon input {
  flex: 1; /* Allow the input to take the available space */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sendBtn {
  padding: 11px 25px;
  background-color: #3D5C72;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: #3D5C72;
}


/* Responsive Design */
@media (max-width: 768px) {
  .card {
    max-width: 100%;
    margin: 0 20px;
  }

  .container
  {
    zoom: 0.6;
  }
}
