
.maincontainer {
  width: 100%;
  max-width: 1397px;
  margin: auto;
  padding-top: 20px;
  justify-content: baseline;
  align-items: baseline;
  padding: 10px;
}

.header {
  max-width: 768px;
  display: flex;
  align-items: center;
  color: white;
}

.toggle {
  margin: 0;
  padding-bottom: 0;
  font-size: 28px;
  font-weight: bold;

}

.line {
  flex-grow: 1;
  border: none;
  margin: 10px;
  height: 1px;
  background-color: #39FFFb;
}

.toggleButton {
  margin-right: 10px;
  color: #39FFFb;
  
  font-size: 28px;
  font-weight: bold;

}

.content {
  text-align: justify;
  font-size: 11px;
  color: white;
}

.instructorName {
  color: white;
  font-size: 20px;
  margin: 10px 0; 
}

.paragraph {
  font-size: 16px;
  color: white;
  margin-bottom: 15px;
  font-family: 'Work Sans';
}

/* Collapsible for LTR */
.collapsibleLtr {
  border: 1px solid white;
  display: inline-block;
  width: 768px; 
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-image: url("../../assets/aboutinstbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Collapsible for RTL */



@media (max-width:1600px)
{
  .maincontainer
  {
    zoom: 0.8;
  }
}

@media (max-width:1250px)
{

}

@media (max-width:768px)
{
  .collapsibleLtr
  {
    max-width: 500px;
  }
  .maincontainer
  {
    zoom: 0.7;
    max-width: 780px;
  }
  .collapsibleLtr
  {
    max-width: 100%;
  }
}
