.instructorsContainer {
  
    /* background-image: url("../../assets/instructiobg.png"); */
    background-image: url("../../assets/backgronds.png");
    padding: 20px;
    min-height: 700px;
    border-radius: 8px;
    max-width: 1350px;
    margin:0 auto;
    margin-top: 180px;
    margin-bottom: 60px !important;
    text-align: center;
    margin-bottom: 200px !important;
  }
  .instructorsContainerss{

    /* border: 1px solid #030b11; */
    background: #030B11;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  }
  
  .instructorsContainer h2 {
   margin-top: 30px;
    color: #FFF;

text-align: center;
font-family: "Noto Kufi Arabic";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 130%;
  }
  
  .instructorsGrid {
    display: grid;
    margin-top: 80px;
    
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: -200px !important; 
  }    
  
  .instructorCard {

    padding: 0px;
 
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .instructorCard:hover {
    transform: scale(1.05);
  }
  
  .instructorImage {
    width: 97%;
    padding: 0px;
    height: 300px !important;
    height: auto;
    border-radius: 8px;
  }
  
  .instructorCard p a {
    text-decoration: none;
   
    color: #FFF;
    margin-top: -60px;
text-align: center;
font-family: "Noto Kufi Arabic";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 160%;
  }
  
   p  {
   margin-top: -100px;
   margin-bottom: 70px;
  }

  
@media (min-width: 300px) and (max-width: 967px) {
  .instructorImage {
    width: 90%;
    margin-left: 0px;

    padding: 0px;
    height: auto;
    border-radius: 8px;
  }
  .instructorsContainer {
  
    
    background-image: url("../../assets/backgronds.png");

    min-height: 180px;
  
  }
  .instructorsContainerss{

    
    background: #030B11;
    
  }
  p  {
    margin-top: -100px;
    margin-bottom: 70px;
   }
 
  
}