.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height */
    background-color: black; /* Background color for the container */
  }
  
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Spacing between the icon and the text */
  }
  
  .icon {
    font-size: 80px; /* Icon size */
    color: #ff6347; /* Tomato color for the icon */
  }
  
  .errorCode {
    font-size: 72px; /* Large font size for the 404 */
    font-weight: bold;
    color: white;
    margin: 0;
  }
  
  .message {
    font-size: 24px; /* Font size for the message */
    color: white;
    margin-top: 10px;
  }
  