
.profileContainer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-family: 'Noto Kufi Arabic', sans-serif;
    background-image: url("../../assets/myprofilecertificate.png");
    background-size: cover;
    background-position: center;
    height: auto;
    margin-top: 60px;
}

.profileHeader {
    text-align: start;
    margin-bottom: 30px;
}

.profileHeader h1 {
    font-size: 32px;
    font-weight: bold;
}

.profileTabs {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.footerHr {
    border: none;
    border-top: 1px solid #39FFFb;
    opacity: 0.2;
    margin: 20px 0;
}

.profileTabs li {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    color: white;
}

.activeTab {
    border-bottom: 2px solid white;
    font-weight: bold;
}
.profileForm{
    padding: 50px 50px;
}

.imageUploadContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px; 
}

.imagePreview {
    position: relative; 
    width: 200px; /* Width of the circular image */
    height: 200px; /* Height of the circular image */
    border-radius: 48%; /* Rounded shape */
    overflow: hidden; /* Hide overflow */
    display: flex; /* Flexbox for centering the image */
    justify-content: center; /* Centering the image */
    align-items: center; /* Centering the image */
    background-color: rgba(255, 255, 255, 0.2); /* Optional: background color */
}

.imagePreview img {
    width: 100%; /* Fill the container */
    height: 100%; /* Fill the container */
    object-fit: cover; /* Cover aspect ratio */
}

.editIconContainer {
    position: absolute; /* Absolute positioning over the image */
    bottom: 10px; /* Position it above the bottom */
    right: 10px; /* Position it towards the right */
    width: 36px; /* Circular icon size */
    height: 36px; /* Circular icon size */
    border-radius: 50%; /* Circular background */
    display: flex; /* Center icon inside */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Change cursor to pointer */
}

.fileInput {
    display: none; /* Hide the file input */
}

.editIconLabel {
    cursor: pointer; /* Pointer cursor for label */
}

.editIcon {
    margin-top: 5px;
    color: white; /* Icon color */
    font-size: 30px; /* Size of the edit icon */
}


