.invsetMainContainer {
    /* border: 1px solid rgb(202, 45, 45);  */
    height: auto;
    background-color: #030b11;
    overflow-x: hidden; /* Prevent horizontal scrolling */
 }
 
 .backimgcontainer {
     background-image: url('../../assets/Group 119.png');
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
     height: 200px;
 }
 
 .paracontainer {
    width: 100%; /* Use percentage for better responsiveness */
    max-width: 1100px; /* Set a max-width for larger screens */
    height: auto; /* Let the height adjust automatically */
    /* border: 1px solid red; */
    margin: 30px auto 20px auto;
 }
 
 .paracontainer h2 {
    color: #EBF5F4;
    text-align: center;
    
    /* Headlines/Headline 1 */
    font-family: "Noto Kufi Arabic";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 97.5px */
 }
 .paracontainer2{
     width: 684px;
     margin: 0 auto;
 }
 
 .paracontainer2 p {
    color: #EBF5F4;
text-align: center;

/* Subheadline/Subheadline 1 */
font-family: "Noto Kufi Arabic";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 43.2px */
 }
 
 @media screen and (max-width: 768px) {
     .invsetMainContainer {
         height: auto;
         background-color: #030b11;
         overflow-x: hidden; /* Ensure no horizontal scrolling on mobile */
     }
 
     .backimgcontainer {
         background-image: url('../../assets/Group 119.png');
         background-position: center;
         background-size: contain;
         background-repeat: no-repeat;
         height: 100px;
     }
 
     .paracontainer {
         width: 90%; /* Use a percentage to adjust for smaller screens */
         height: auto; /* Adjust height automatically */
         /* border: 1px solid red; */
         margin: 30px auto 20px auto;
     }
 
     .paracontainer h2 {
         font-size: 20px; /* Adjust font size for mobile */
         color: #fff;
         line-height: 30px;
         text-align: center;
     }
 
     .paracontainer p {
         color: #fff;
         line-height: 25px;
         font-size: 14px; /* Adjust font size for mobile */
         text-align: center;
         padding: 12px 5%; /* Adjust padding for mobile */
     }
 }
 