.invsetMainContainer {
    /* border: 1px solid rgb(202, 45, 45);  */
    position: relative;
    height: auto;
    background-color: #030b11;
    overflow-x: hidden; /* Prevent horizontal scrolling */
 }
 
 .backimgcontainer {
     background-image: url('../../assets/Group 119.png');
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
     height: 200px;
 }
 
 .paracontainer {
    width: 100%; /* Use percentage for better responsiveness */
    max-width: 860px; /* Set a max-width for larger screens */
 /* Let the height adjust automatically */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    align-items: last baseline;
    margin: 30px auto 20px auto;
 }
 
 .paracontainer h2 {
     font-size: 50px;
     color: #fff;
     line-height: 60px;
     text-align: center;
 }
 
 .paracontainer p {
     color: #fff;
     line-height: 40px;
     font-size: 20px;
     text-align: center;
     padding: 12px 17%; /* Use percentage for padding */
 }
 
@media (max-width:1250px)
{
    .paracontainer
    {
        padding: 20px;
        zoom: 0.8;
    }
}
@media (max-width:768px)
{
    .paracontainer
    {
        zoom: 0.8;
    }
}