.Fundamental {
  background-color: #030b11;
  padding: 50px 135px 70px 135px;
  height: auto;
  /* border: 2px solid rebeccapurple; */
}

.secondcontainer {
  /* border: 2px solid aqua; */
  height: auto;
}

.content {
  width: 350px;
  margin-left: 40px;
  margin-right: 0;
  margin-top: 50px;
  /* border: 2px solid aliceblue; */
}

.content p {
  color: #fff;
  line-height: 25px;
  text-align: left;
  font-size: 20px;
  /* border: 1px solid aquamarine; */
}

.subscribe {
  background-image: url("../../assets/pricing-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
}
.imgcontainer img {
  height: 700px;
  margin-top: -270px;
  margin-left: 700px;
}
.ctn {
  /* border: 2px solid rgb(16, 17, 18); */
  height: auto;
  width: 55%;
  margin-top: -430px;
  margin-left: 40px;
}
.item {
  display: flex;
  align-items: center;
}
.checkico {
  margin-right: 10px;
  color: rgb(46, 202, 202);
  font-size: 20px;
}
.ctn p {
  font-size: 20px;
  color: #fff;
 
}
.checkicobuttun {
  background-color: cyan;
  font-size: 15px;
  padding: 2px 7px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
}
.item b {
  margin-right: 2px;
  color: aqua;
  font-size: 25px;
}

.item span {
  font-size: 15px;
  padding-left: 3px;
}
@media screen and (max-width: 768px) {
  .Fundamental {
    padding: 30px 20px 30px 20px;
    height: auto;
  }
  .content {
    width: 200px;
    margin: 10px 20px 10px 20px;
  }
  .content p {
    font-size: 11px;
    line-height: 15px;
  }
  .subscribe {
    height: 120px;
    margin: 40px auto;
  }
  .imgcontainer img {
    height: 300px;
    margin-top: -100px;
    margin-left: 200px;
  }
  .ctn {
    height: 110px;
    width: 45%;
    margin: -200px 0px 0px 20px;
    /* border: 1px solid rgb(223, 39, 39); */
  }
  .ctn p {
    font-size: 6px;
    color: #fff;

  
  }
  .checkicobuttun {
    background-color: cyan;
    font-size: 4px;
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .item b {
    margin-right: 2px;
    color: aqua;
    font-size: 9px;
  }
  .item span {
    font-size: 7px;
    padding-left: 3px;
  }
  .checkico {
    margin-right: 10px;
    color: rgb(46, 202, 202);
    font-size: 15px;
  }
}
