.Fundamental {
  background-color: #030b11;
  padding: 50px 135px 70px 135px;
  height: auto;
  /* border: 2px solid rebeccapurple; */
  
}

.secondcontainer {
  /* border: 2px solid aqua; */
  height: auto;
}

.content {
  width: 350px;
  margin-left: 440px;
  margin-right: 0;
  margin-top: 50px;
  /* border: 2px solid aliceblue; */
}

.content p {
  color: #fff;
  line-height: 25px;
  text-align: left;
  font-size: 20px;
  /* border: 1px solid aquamarine; */
}

.subscribe {
  background-image: url('../../assets/pricing-3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
 
}
.imgcontainer img{
  height: 700px;
  margin-top: -260px;
  margin-left: 70px;
}
.ctn{
  /* border: 2px solid rgb(16, 17, 18); */
  height: auto;
  width: 55%;
  margin-top: -448px;
  margin-left: 440px;
  
}
.item{
  display: flex;
  align-items: center;
 
}
.checkico{
 
  margin-right: 10px;
  color: rgb(46, 202, 202);
  font-size: 30px;
  
}
.ctn p{
  font-size: 20px;
  color: #fff;
}
.checkicobuttun{
  background-color:cyan;
  font-size: 15px;
  padding: 2px 7px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
}
.item b{
  margin-right:2px;
}
@media screen and (max-width: 768px)
{

  .Fundamental {
  
    padding: 30px 20px 30px 20px;
    height: 490px;
    
  }
  .content {
    width: 200px;
    margin: 10px 20px 10px 40px;
   
  }
  .content p{
    font-size: 15px;
  }
  .subscribe{
    height: 100px;
   margin: 40px auto;
  }
  .imgcontainer img{
    height: 230px;
    margin-top: -70px;
    margin-left: 30px;
  }
  .ctn{
   
    height: 150px;
    width: 100%;
    margin: 0px auto;
    
  }
  .ctn p{
    font-size: 8px;
    color: #fff;
  }

}

