




.Fundamental {
  background-color: #030b11;
  padding: 50px 135px 220px 135px;
  height: auto;
  max-width: 1500px; /* Set a max-width for the container */
  margin: 0 auto; /* Center the Fundamental container */
  height: auto;
}

.secondcontainer {
 
  height: auto;
}

.content {
  width: 350px;
  margin-left: 40px;
  margin-right: 0;
  margin-top: 50px;

}

.content p {
  color: #fff;
  line-height: 25px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  
}

.subscribe {
  background-image: url("../../assets/pricing-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  margin: 20px 0px 20px 0px;
  border-radius: 15px;
}
.imgcontainer img {
  height: 700px;
    /* margin-top: -270px; */
    /* margin-left: 700px; */
    position: relative;
    right: 60%;
    bottom: 250px;
 
}

.imghead{
  height: auto;
  width: 100%;
  /* margin-left: 50px; */

}
.ctn {
 
  height: auto;
  width: 55%;
  margin-top: -700px;
  margin-left: 50px;

  
}
.item {
  display: flex;
  align-items: center;
}
.checkico {
  margin-right: 10px;
  color: rgb(46, 202, 202);
  font-size: 20px;
}
.ctn p {
  font-size: 18px;
  color: #fff;
  font-weight: 100;

 
}
.checkicobuttun {
  position: relative;
  box-shadow: 0px 10px 30px rgba(90, 255, 234, 0.3);
  border-radius: 64px;
  background-color: #39fffb;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  box-sizing: border-box;
  text-align: right;
  font-size: 17px;
  color: #000;
  font-family: 'Noto Kufi Arabic';
  font-weight: 500;
  border: none;
  margin: 10px;
}
.item b {
  margin-right: 2px;
  color: aqua;
  font-size: 25px;
}

.item span {
  font-size: 15px;
  padding-left: 3px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Fundamental {
    padding: 40px 50px 40px 50px;
    height: auto;
 
  }

  .content {
    width: 300px;
    margin: 20px 30px;

   
  }

  .content p {
    font-size: 16px;
    line-height: 20px;
  }

  .subscribe {
    height: 180px;
    margin: 30px auto;
  }

  .imgcontainer img {
    height: 500px;
    margin-top: -180px;
    margin-left: 600px;
  }

  .ctn {
    height: auto;
    width: 50%;
    margin-top: -320px;
    margin-left: 30px;
  
  }

  .ctn p {
    font-size: 14px;
  }

  .checkicobuttun {
    font-size: 10px;
    padding: 3px 6px;
  }

  .item b {
    font-size: 18px;
  }

  .item span {
    font-size: 12px;
  }

  .checkico {
    font-size: 18px;
  }
}



@media screen and (max-width: 768px) {
  .Fundamental {
    padding: 30px 20px 30px 20px;
    height: auto;
  }
  .content {
    width: 200px;
    margin: 10px 20px 10px 20px;
  }
  .content p {
    font-size: 11px;
    line-height: 15px;
  }
  .subscribe {
    height: 120px;
    margin: 40px auto;
  }
  .imgcontainer img {
    height: 300px;
    margin-top: -100px;
    margin-left: 200px;
  }
  .ctn {
    height: 110px;
    width: 45%;
    margin: -200px 0px 0px 20px;
   
  }
  .ctn p {
    font-size: 6px;
    color: #fff;

  
  }
  .checkicobuttun {
    background-color: cyan;
    font-size: 4px;
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .item b {
    margin-right: 2px;
    color: aqua;
    font-size: 9px;
  }
  .item span {
    font-size: 7px;
    padding-left: 3px;
  }
  .checkico {
    margin-right: 10px;
    color: rgb(46, 202, 202);
    font-size: 15px;
  }
}  
  
  
@media (min-width: 820px) and (max-width: 1180px) {
  .Fundamental {
    /* padding: 30px 20px 30px 20px; */
    height: auto;
  }
  .content {
    width: 200px;
    margin: 10px 20px 10px 20px;
  }
  .content p {
    font-size: 11px;
    line-height: 15px;
  }
  .subscribe {
    height: 120px;
    margin: 40px auto;
  }
  .imgcontainer img {
    height: 300px;
    margin-top: -100px;
    margin-left: 500px;
  }
  .ctn {
    height: 110px;
    width: 45%;
    margin: -200px 0px 0px 20px;
   
  }
  .ctn p {
    font-size: 6px;
    color: #fff;

  
  }
  .checkicobuttun {
    background-color: cyan;
    font-size: 4px;
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .item b {
    margin-right: 2px;
    color: aqua;
    font-size: 9px;
  }
  .item span {
    font-size: 7px;
    padding-left: 3px;
  }
  .checkico {
    margin-right: 10px;
    color: rgb(46, 202, 202);
    font-size: 15px;
  }
}

@media (min-width: 375px) and (max-width: 667px) {
  .Fundamental {
    /* padding: 30px 20px 30px 20px; */
    height: auto;
  }
  .content {
    width: 200px;
    margin: 10px 20px 10px 20px;
  }
  .content p {
    font-size: 11px;
    line-height: 15px;
  }
  .subscribe {
    height: 120px;
    margin: 40px auto;
  }
  .imgcontainer img {
    height: 300px;
    margin-top: -100px;
    margin-left: 180px;
  }
  .ctn {
    height: 110px;
    width: 45%;
    margin: -200px 0px 0px 20px;
   
  }
  .ctn p {
    font-size: 6px;
    color: #fff;

  
  }
  .checkicobuttun {
    background-color: cyan;
    font-size: 4px;
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .item b {
    margin-right: 2px;
    color: aqua;
    font-size: 9px;
  }
  .item span {
    font-size: 7px;
    padding-left: 3px;
  }
  .checkico {
    margin-right: 10px;
    color: rgb(46, 202, 202);
    font-size: 15px;
  }
}



@media (min-width: 360px) and (max-width: 740px) {
  .Fundamental {
    /* padding: 30px 20px 30px 20px; */
    height: auto;
  }
  .content {
    width: 200px;
    margin: 10px 20px 10px 20px;
  }
  .content p {
    font-size: 11px;
    line-height: 15px;
  }
  .subscribe {
    height: 120px;
    margin: 40px auto;
  }
  .imgcontainer img {
    height: 300px;
    margin-top: -100px;
    margin-left: 170px;
  }
  .ctn {
    height: 110px;
    width: 45%;
    margin: -200px 0px 0px 20px;
   
  }
  .ctn p {
    font-size: 6px;
    color: #fff;

  
  }
  .checkicobuttun {
    background-color: cyan;
    font-size: 4px;
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .item b {
    margin-right: 2px;
    color: aqua;
    font-size: 9px;
  }
  .item span {
    font-size: 7px;
    padding-left: 3px;
  }
  .checkico {
    margin-right: 10px;
    color: rgb(46, 202, 202);
    font-size: 15px;
  }
}



@media (min-width: 344px) and (max-width: 882px) {
  .Fundamental {
    /* padding: 30px 20px 30px 20px; */
    height: auto;
  }
  .content {
    width: 200px;
    margin: 10px 20px 10px 20px;
  }
  .content p {
    font-size: 11px;
    line-height: 15px;
  }
  .subscribe {
    height: 120px;
    margin: 40px auto;
  }
  .imgcontainer img {
    height: 300px;
    margin-top: -100px;
    margin-left: 170px;
  }
  .ctn {
    height: 110px;
    width: 45%;
    margin: -200px 0px 0px 20px;
   
  }
  .ctn p {
    font-size: 6px;
    color: #fff;

  
  }
  .checkicobuttun {
    background-color: cyan;
    font-size: 4px;
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .item b {
    margin-right: 2px;
    color: aqua;
    font-size: 9px;
  }
  .item span {
    font-size: 7px;
    padding-left: 3px;
  }
  .checkico {
    margin-right: 10px;
    color: rgb(46, 202, 202);
    font-size: 15px;
  }
}