

.Home{
  border: 1px solid #000;
  background: #030B11;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Footer{
 
  width: 1920px;
  height: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: url('../../assets/FooterBg.png');
}

.BlogContainer{

  background-image: url("../../assets//blg.png");
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: top;
}




/* .Home {
   
  }
  
  .Home[dir="rtl"] {
  
  } */