.carouselWrapper {
  background: #030B11;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.carouselWrapper h2 {
  color: #FFF;
  padding-top: 130px;
  text-align: center;
  font-family: "Noto Kufi Arabic";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

