.carouselWrapper {
  background: #030B11;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  max-width: 1980px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.carouselWrapper h2 {
  color: #FFF;
  padding-top: 130px;
  text-align: center;
  font-family: "Noto Kufi Arabic";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1220px;
  margin: auto;
  overflow: hidden;
  /* padding: 20px 0px; */
}

.carouselSliderContainer {
  width: 100%;
  /* margin-top: 20px; */
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.carouselSliderContainer::-webkit-scrollbar {
  display: none;
}

.carouselSlider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidde;
}

.carouselCard {
  margin: 0 10px; /* Margin to create space between cards */
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  height: 483px;
  right: 25%;
  min-width:609px !important;
  color: #fff;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.carouselCard video {
  margin-top: 50px;
  position: relative;
  height: 483px;
  left: 15%;
  /* Full width of the card */
  border-radius: 5px; /* Optional: To match the card's border radius */
}

.carouselArrowLeft,
.carouselArrowRight {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.carouselArrowLeft {
  left: 10px;
  border-radius: 50%;
  width: 60px; 
  height: 60px;
  background-color: #4444;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlay {
  position: absolute;
  right: -400px;
  bottom: 0;
  width: 50%;
  height: 140%;
  filter: blur(50px);
  background: var(--Neutral-Website-Bakground---Dark, #030B11);
  opacity: 0.8;
  z-index: 1; /* Make sure overlay is above the video */
}
.roverlay {
  position: absolute;
  left: -400px;
  bottom: 0;
  width: 50%;
  height: 140%;
  filter: blur(50px);
  background: var(--Neutral-Website-Bakground---Dark, #030B11);
  opacity: 0.9;
  z-index: 1; /* Make sure overlay is above the video */
}
.carouselArrowRight {
  right: 10px;
  border-radius: 50%;
  width: 60px; 
  height: 60px;
  background-color: #4444;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.carouselArrowLeft:hover,
.carouselArrowRight:hover {
  background-color: #4444;
  z-index: 1000;
}

@media (max-width: 768px) {
  .carouselCard {
    flex: 0 0 100%;
    width: 275px;
  }

  .carouselArrowLeft,
  .carouselArrowRight {
    font-size: 24px;
  }
}
