.carouselWrapper {
  background-color: #030b11;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  max-width: 1500px;
  margin: 0 auto ;
  /* border: 2px solid bisque; */
  margin-top: 100px;
}

.carouselWrapper h2 {
  /* color: #fff;
  padding-top: 100px;
  text-align: center; */
  color: #FFF;

text-align: center;
font-family: "Noto Kufi Arabic";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 160%;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 12 00px;
  margin: auto;
  padding: 20px 0px;
}

.carouselSliderContainer {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.carouselSliderContainer::-webkit-scrollbar {
  display: none;
}

.carouselSlider {
  display: flex;
  flex-wrap: nowrap;
}

.carouselCard {
  flex: 0 0 auto;
  margin: 6px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  height: auto;
  color: #fff;
  width: 385px;
}

.carouselCard img {
  height: 350px;
  width: 100%;
}

.carouselArrowLeft,
.carouselArrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.carouselArrowLeft {
  left: 10px;
  /* border: 1px solid aliceblue; */
  border-radius: 50%;
  width: 60px; /* Ensure width and height are equal */
  height: 60px;
  background-color: #4444;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.carouselArrowRight {
  right: 10px;
  /* border: 1px solid #7777; */
  border-radius: 50%;
  width: 60px; /* Ensure width and height are equal */
  height: 60px;
  background-color: #4444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselArrowLeft:hover,
.carouselArrowRight:hover {
  background-color: #4444;
}

@media (max-width: 768px) {
  .carouselCard {
    flex: 0 0 100%;
    width: 275px;
  }

  .carouselArrowLeft,
  .carouselArrowRight {
    font-size: 24px;
  }
}
