.imagagelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}

.card{
    margin-left: 150px;
    margin-right: 150px;
  
}
.bgcontainer{
   
    color: white;
    
}

.bgcontainer h1{ 
   
    color: white;
text-align: center;
margin-top: 20px;
margin-bottom: 30px;
    
}
.CardContainer{
    display: flex;
    gap: 0px;
}

.titless{
    display: flex;
    gap: 18px;
}

.titless p{
    font-size: 17px;
}

.imagagelogo h5{
    color: #EBF5F4;
    font-family: "Noto Kufi Arabic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 149%;
}