.imagagelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card{
    width: 679px;
    height: auto;
    margin: 10px;
}
.card iframe{
    width: 679px;
    height: 500px;
    margin: 10px;
}

.bgcontainer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   width: 100vw;
   max-width: 1920px;
   margin: auto;
    color: white;
    margin-bottom: 100px;
}

.bgcontainer h1{ 
   
    color: white;
text-align: center;
margin-top: 20px;
margin-bottom: 60px;
    
}
.CardContainer{
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
}

.titless{
    display: flex;
    gap: 18px;
}

.titless p{
    font-size: 17px;
    margin-left: 250px !important;

    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #5AFFFF;
}

.imagagelogo h5{
    color: #EBF5F4;
    font-family: "Noto Kufi Arabic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 149%;
}
.cardImage
{
    width: 100%;
}
.logoImage
{
    height: 200px;
    width: auto;
}
.logoimg
{
    height: auto;
}
@media (max-width : 1600px)
{
    .bgcontainer
    {
        zoom: 0.9;
    }
}
@media (max-width : 1250px)
{
    .bgcontainer h1
    {
        zoom: 0.4;
    }
    .CardContainer
    {
        flex-direction: column;
    }

}

@media (max-width : 768px)
{
    .bgcontainer
    {
        width: auto;
        zoom: 0.4;
    }
}