


.coursesContainer {
  
  min-height: 750px;
  border-radius: 8px;
  max-width: 1519px;
  margin: auto;
  margin-top:50px !important;
  margin-bottom: 20px !important;
  text-align: center;
}

.courseContainer {
  /* background: #030B11; */
}

.coursesContainer h2 {
  margin-top: 30px;
  color: #FFF;
  text-align: center;
  font-family: "Noto Kufi Arabic";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.coursesGrid {
  margin-top:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.coursesCard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both title and video */
  /* background: #1c1c1c; */
  height: 513.087px;
  position: relative;
  width: 469.988px;
  margin: 5px;
  transition: transform 0.3s ease;
  text-align: center;
}

.coursesCard:hover {
  transform: scale(1.05);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(57, 255, 251, 0.00) 67.33%, rgba(0, 122, 122, 0.06) 83.65%, rgba(4, 50, 50, 0.60) 99.98%), linear-gradient(180deg, rgba(3, 11, 17, 0.00) 69.79%, #030B11 99.98%);
  opacity: 1;
  z-index: 1; /* Make sure overlay is above the video */
}
.coursesCard p a {
  /* color: #FFF;
  margin-top: 2px;
  text-decoration: none;
  margin-bottom: 5px; 
  font-size: 18px;
  font-weight: 700;
  line-height: 160%;
  background: none;  */
  color: #FFF;
text-align: center;
font-family: "Noto Kufi Arabic";
font-size: 24px;

text-decoration: none;
font-style: normal;
font-weight: 700;
line-height: 160%; 
}

.coursesImage {
  width: 100%;
  height: 513.087px !important;
  height: auto;
  object-fit: cover;
}

@media (max-width:1600px)
{
  .courseContainer
  {
    zoom: 0.8;
  }
}

@media (max-width:1280px) {
  .courseContainer
  {
    zoom: 0.6;
  }
}
