.carouselcontainer {
  background-color: #030b11;
  /* border: 2px solid yellow; */
  background-image: url("../../assets/carouselvector.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
}
.carouselcontainer h2 {
  color: #fff;
  text-align: center;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  /* padding: 20px 0px; */
}

.carouselSliderContainer {
  width: 100%;
  overflow: hidden;
}

.carouselSlider {
  display: flex;
  flex-wrap: nowrap;
}

.carouselCard {
  margin: 0 10px; /* Margin to create space between cards */
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 280px;
  color: #fff;
}
.card h2 {
  font-size: 17px;
  text-align: right;
}
.contentimg p {
  font-size: 11px;
  width: 100px;
}
.contentimg {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 170px;
}

.carouselArrowLeft,
.carouselArrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.left {
  left: 0px;
}

.right {
  right: 0;
}

@media (max-width: 768px) {
  .card {
    flex: 1 0 100%; /* On mobile, show one card at a time */
  }
}