.container {
    padding: 12% 12%; /* Adjusted padding for smaller screens */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("../../assets/ebookBackground.png") no-repeat center center;
    background-size: cover;
    background-color: black;
  }
  
  .containerHeader {
    color: white;
    padding: 20px;
    height: 50vh;
    font-size: 50px;
    text-align: center;
    width: 80%;
  }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 20px;
    padding: 40px 0;
  }
  
  /* Card styles */
  .card {
    border-radius: 8px;
    color: white;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .content {
    margin-top: 15px;
    text-align: left;
  }
  
  .btn {
    display: flex;
  }
  
  .content p {
    color: #00bfa5;
  }
  
  /* Button styles */
  .downloadButton {
    margin-top: 20px;
    position: relative;
    box-shadow: 0px 10px 30px rgba(90, 255, 234, 0.3);
    border-radius: 20px;
    background-color: #39fffb;
    border: none;
    width: 14vw;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    box-sizing: border-box;
    text-align: right;
    font-size: 20px;
    color: #061c2b;
    font-family: 'Sans Serif';
  }
  
  .downloadsvg {
    margin-top: 20px;
    margin-left: 10px;
  }
  
  /* Styles for "Coming Soon" button */
  .soonButton {
    display: none;
  }
  
  .soonButton1 {
    background-color: transparent;
    color: #00bfa5;
    border: none;
    padding: 10px 20px;
    cursor: not-allowed;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  /* Responsive Media Queries */
  @media (max-width: 1200px) {
    .cardsContainer {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
  }
  
  @media (max-width: 900px) {
    .containerHeader {
      font-size: 40px;
      width: 80%;
    }
  
    .cardsContainer {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
      gap: 15px;
    }
  
    .downloadButton {
      width: 9vw;
      font-size: 14px;
    }
  }
  
  @media (max-width: 600px) {
    .containerHeader {
      font-size: 30px;
      text-align: center; /* Center the header on small screens */
      width: 90%;
    }
  
    .cardsContainer {
      grid-template-columns: 1fr; /* Single column for mobile */
    }
  
    .downloadButton {
      width: 40vw; /* Button takes more width on smaller screens */
      font-size: 12px;
    }
  
    .downloadsvg {
      margin-left: 5px;
    }
  }
  
  @media (max-width: 480px) {
    .containerHeader {
      font-size: 24px;
    }
  
    .downloadButton {
      width: 50vw;
    }
  }
  