.successPartnersSection {
  max-width: 1980px; 
  margin: 0 auto; 
  color: #fff;
  text-align: center;
  min-height: 1100px;
  padding: 0px 90px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, .1) 100%,
      rgba(1, 1, 1, 1)
    ),
    url("../../assets/Rectangle1.png");
  background-size: cover;

  background-position: center;
  filter: blur(0px);
}

.successPartnersSection h2{

  color: #FFF;
padding-top: 200px;

  text-align: center;
  font-family: "Noto Kufi Arabic";

  font-style: normal;
  font-weight: 700;
  line-height: 160%; 
}
.partnersLogos {
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:10px;
  justify-items: center;
  align-items: center;
  max-width: 1000px; 
  margin: 0 auto; 
}

.partnerLogo img {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .partnersLogos {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    max-width: 800px; 
  }

  .partnerLogo img {
    width: 160px;
    height: 110px;
  }
}

@media (max-width: 360px) {
  .partnersLogos {
    grid-template-columns: repeat(1, minmax(260px, 1fr));
    max-width: 400px; 
    height: 20px;
  }

  .partnerLogo img {
    max-width: 140px;
    margin-top: -20px;
    height: 70px;
  }
}


@media (min-width: 375px) and (max-width: 667px) {
  .partnersLogos {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    max-width: 400px; 
  }

  .partnerLogo img {
    max-width: 120px;
    height: auto;
  }
}

  
  
  
  
  /* 
.successPartnersSection {

    color: #fff;      
    text-align: center;
 height: 70vh;
 min-height: 1200px;
 min-width: 600px;
    padding: 0px 20px;
background-image: 
linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(2, 1, 1, 1)), 
url("../../assets/Rectangle1.png");
background-size: cover;
background-position: center;
filter: blur(0px);


  }
 
  .successPartnersTitle {
    font-size: 2rem;
    margin-bottom: 50px;
    padding-top: 270px;
    padding-bottom: 150px;
    margin-bottom: 0px;
  }

  .successPartnersSection h2{
  
    color: #FFF;
  padding-top: 200px;
  
    text-align: center;
    font-family: "Noto Kufi Arabic";
 
    font-style: normal;
    font-weight: 700;
    line-height: 160%; 
  }

  
  .partnersLogos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
 gap: -200px;
    justify-items: center;
    align-items: center;
  }
  
  .partnerLogo img {
  width: 222.783px;
height: 222.783px;
flex-shrink: 0;
  }

  .partnerLogo{
    margin: -60px;
  }
   
  @media (max-width: 600px) {
    .partnersLogos {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
  
    .successPartnersSection {

         color: #fff;      
         text-align: center;
      height: 70vh;
      min-height: 1200px;
      min-width: 200px;
         padding: 0px 20px;
     background-image: 
     linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(2, 1, 1, 1)), 
     url("../../assets/Rectangle1.png");
     background-size: cover;
     background-position: center;
     filter: blur(0px);
     
     
       }
       .partnersLogos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
     gap: -200px;
     flex-direction: row;
       
      }
    .partnerLogo img {
      max-width: 100px;
    }
  }
   */

   

