.carouselcontainer {
    background-color: #030b11;
    background-image: url("../../assets/background_banner_homepagecara.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    max-width: 1950px;
    margin: 0 auto;
  }
  
  .carouselcontainer h2 {
    color: #fff;
    text-align: center;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;
  }
  
  .sliderContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; 
  }
  
  .sliderContainer::-webkit-scrollbar {
    display: none; 
  }
  
  .slider {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .card {
    flex: 0 0 auto;
   
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
   
    border-radius: 5px;
    height: 850px;
    color: #fff;
    width: 280px;
  
  }
  .logo89 {
 
    /* width: 100%;
    height: 130px; */
    width: 293px;
height: 177px;
flex-shrink: 0;
  }
  .img89 {
 
    width: 100%;
    height: 520px;
    /* width: 336px;
height: 533px;
flex-shrink: 0; */
  }
 
 
  .arrowLeft, .arrowRight {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }
  
  .arrowLeft {
    left: 10px;

    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: -70px !important;
    background-color: #4444;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrowRight {
    right: 10px;
    margin-left: 70px !important;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
    background-color: #4444;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .card {
      flex: 0 0 100%;
      width: 275px;
    }
  }
  