
.container {
    padding: 10px 10px; 
    /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("../../assets/ebookBackground.png") no-repeat center center; */
    background-size: cover;
    /* background-color: black; */
    padding-left: 90px;
  }
  .title{
    width: 536.3px;
position: relative;
font-size: 36px;
line-height: 160%;
display: inline-block;
/* font-family: 'Work Sans'; */
color: #fff;
text-align: left;
height: 64.9px;

  }
  .containerHeader {
    color: white;
    font-size: 50px;
    text-align: center;
    width: fixed(1,305px);
    height: Hug(208px);
    font-weight: 700;
    line-height: 75px;
    font-family: 'Work Sans';
  
    }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 10px;
    margin-top: 0px;
  }
  
  /* Card styles */
  .card {
    border-radius: 8px;
    color: white;  
    width: 100%;
    position: relative;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    height: 500px;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 100%;
    padding: 10px;  
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .content {
    /* margin-top: 15px; */
    text-align: left;
  }
  
    
  .content p {
    width: 100%;
    position: relative;
    font-size: 16px;
    line-height: 160%;
    font-family: 'Work Sans';
    color: #39fffb;
    text-align: left;
    display: inline-block;
  }
  .text{
    font-size: 20px;
    line-height: 160%;    
    width: 100%;
    position: relative;
    font-size: 18px;
    line-height: 160%;
    display: inline-block;
    /* font-family: 'Work Sans'; */
    color: #fff;
    text-align: left;
    height: 59px;
  
  }
  
  
  /* Responsive Media Queries */
  @media (max-width: 1200px) {
    .cardsContainer {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
  }
  
  @media (max-width: 900px) {
    .containerHeader {
      font-size: 40px;
      width: 80%;
    }
  
    .cardsContainer {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
      gap: 15px;
    }
  
    .downloadButton {
      width: 9vw;
      font-size: 14px;
    }
  }
  
  @media (max-width: 600px) {
    .containerHeader {
      font-size: 30px;
      text-align: center; /* Center the header on small screens */
      width: 90%;
    }
  
    .cardsContainer {
      grid-template-columns: 1fr; /* Single column for mobile */
    }
  
    .downloadButton {
      width: 40vw; /* Button takes more width on smaller screens */
      font-size: 12px;
    }
  
    .downloadsvg {
      margin-left: 5px;
    }
  }
  
  @media (max-width: 480px) {
    .containerHeader {
      font-size: 24px;
    }
  
    .downloadButton {
      width: 50vw;
    }
  }
  
  