.cointainer{
    margin-top: 70px;
    
    height: 900px;
    margin-bottom: -250px;
    background: url("../../assets/socialimage.png");
    
}

.btndiv{
    display: flex;
    font-size: 20px;
    color: white;
    gap: 20px; 
    align-items: center;
    justify-content: center;
    margin-top: 90px;
  
 
}

.btnyoutube {
    background-image: url("../../assets/youtube.png");
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
  
    font-size: 20px;
    border-radius: 10px;
    color: white;

}
.btninsta {
    background-image: url("../../assets/instaram.png");
    padding: 30px;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    color: white;
}
.btntiktok {
    background-image: url("../../assets/tiktok.png");
    padding: 30px;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    color: white;
}

.titles{
   padding-top: 150px;
}
.titles h1 {
color: white;
text-align: center;
color: #FFF;
text-align: center;
/* Headlines/Headline 1 */
font-family: "Noto Kufi Arabic";
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}
.titles p{
    color: white;
    text-align: center;
    color: #EBF5F4;
    text-align: center;
    /* Subheadline/Subheadline 1 */
    font-family: "Noto Kufi Arabic";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; 
    }