.card {
    background-color: #05121c;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding:  20px;
    z-index: 10000;
  }
  
  .videoWrapper {
    background-image: url('../../assets/pricingCardThumbnail.PNG');
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
  }
  
  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
  }
  
  .cardContent {
    margin-top: 20px;
  }
  
  .description {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
    line-height: 2;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: auto;
  }
  
  .stars {
    /* color: #fbc02d; */
    color: var(--Accent-Accent-400---Main, #39FFFB);
    margin-right: 5px;
  }
  
  .ratingValue {
    font-size: 14px;
  }
  
  .subscribeBtn {
    border-radius: 64px;
    background: var(--Accent-Accent-400---Main, #39FFFB);
    box-shadow: 0px 10px 30px 0px rgba(90, 255, 234, 0.30);
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .wishlistBtn {
    background-color: transparent;
    /* border: 1px solid #00e676;
    color: #00e676; */
    border-radius: 64px;
    border: 1.5px solid var(--Accent-Accent-400---Main, #39FFFB);
    color: var(--Accent-Accent-400---Main, #39FFFB);
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .card {
      padding: 15px;
    }
  
    .playButton {
      font-size: 12px;
      padding: 8px 12px;
    }
  
    .subscribeBtn, .wishlistBtn {
      font-size: 14px;
    }
  
    .description {
      font-size: 12px;
    }
  }
  