.coursecontainermain
{
  width:100vw;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url("../../assets/learnAbt.png");
  background-position: bottom;
  background-size: 140%;
  padding-top: 75px;
  padding-bottom: 150px;
  position: relative;
}
.coursesContainer {
 
  border-radius: 8px;
  width: 90%;
  text-align: center;
  max-width: 1920px;
}

.loverlay {
  position: absolute;
  top: -75px; 
  width: 100%;
  height: 16%;
  filter: blur(60px);
  background: var(--Neutral-Website-Bakground---Dark, #030B11);
  opacity: 0.9;
  z-index: 1; /* Make sure overlay is above the video */
}
.boverlay {
  position: absolute;
  top: -75px; 
  width: 100%;
  height: 10%;
  filter: blur(60px);
  background: var(--Neutral-Website-Bakground---Dark, #030B11);
  opacity: 0.9;
  z-index: 1; /* Make sure overlay is above the video */
}
.coursesContainer h2 {
  margin-top: 30px;
  color: #FFF;
  text-align: center;
  /* font-family: "Noto Kufi Arabic"; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;

  
}


.LearnMaflam{
  margin-top: 20px;
}

.LearnMaflam video {
  margin-top: 20px;
  width: 100%;
  max-width: 1195px; 
  height: auto;

}

@media (max-width:1220px)
{
  
  .learnMaflamTitle
  {
    zoom: 0.8
  }
}

@media (max-width:768px)
{
  .coursecontainermain
  {
    padding: 50px;
  }
  .learnMaflamTitle
  {
    zoom: 0.7;
  }
}
