.coursecontainermain {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: url("../../assets/learnAbt.png") bottom / 140% cover;
  padding: 75px 0 150px;
  position: relative;
}

.coursesContainer {
  width: 90%;
  max-width: 1920px;
  border-radius: 8px;
  text-align: center;
}

.loverlay, .boverlay {
  position: absolute;
  width: 100%;
  filter: blur(60px);
  background: var(--Neutral-Website-Bakground---Dark, #030B11);
  opacity: 0.9;
  z-index: 1;
}

.loverlay {
  top: -75px;
  height: 16%;
}

.boverlay {
  top: -75px;
  height: 10%;
}

.coursesContainer h2 {
  margin-top: 30px;
  color: #FFF;
  font-size: 2rem;
  font-weight: 600;
  line-height: 160%;
}

.LearnMaflam {
  margin-top: 20px;
}

.LearnMaflam video {
  width: 100%;
  max-width: 1195px;
  height: auto;
  margin-top: 20px;
}

@media (max-width: 1220px) {
  .learnMaflamTitle {
    zoom: 0.8;
  }
}

@media (max-width: 768px) {
  .coursecontainermain {
    padding: 50px;
  }
  .learnMaflamTitle {
    zoom: 0.7;
  }
}
