
.hoverimagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    height: 80vh    ;
    background-image:  url("../../assets/Subscribee.png");
    
    
    /* background: linear-gradient(135deg, #3B2E8A, #312d33,#0400DB,#959e9d ); */
    background-color: #0b0d24; 
  }
  .hovercointainer{
    background-image: linear-gradient(white, black);
  }
  
  .imagewrapper {
    position: relative;
    width: 100%;
    margin-top: -180px;
  
    max-width: 550px;
  }
  .imagewrapper img {
    /* position: relative;
    width: 100%; */
    background-image: linear-gradient(white, black);
    /* max-width: 600px; */
  }
  
  .hoverimage {
    width: 100%;
    box-shadow: 0px 4px 20px rgba(22, 20, 20, 0.5); /* Shadow effect */
    transition: transform 0.3s ease-in-out;
  }
  
  /* .image-wrapper:hover .hover-image {
    transform: scale(.05); 
  } */
  
  .overlay {
    position: absolute;
    
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 1rem;
    /* transition: bottom 0.3s ease-in-out; */
  }
  
  .overlay p{
    /* font-size: 20px; */
   margin-top: 
   30px;
    color: var(--Accent-Accent-50, #F6FFFF);
text-align: center;
/* Headlines/Headline 1 */
font-family: "Noto Kufi Arabic";
font-size: 25px;
/* background-image: linear-gradient(white, black); */
font-style: normal;
font-weight: 800;
line-height: 100%; /* 97.5px */
  }
  
  .subscribebutton {
    margin-top: 10px;
    padding: 10px 20px;
    /* background-color: #00c9ff; */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .imagewrapper:hover .overlay {
    
    /* Move the text up when hovering */
  }
  
  @media (max-width: 768px) {
    .hoverimagecontainer {
      padding: 10px;

    }
  
    .overlay {

      font-size: 1.2rem;
    }
  
    .subscribebutton {
      padding: 8px 16px;
    }
  }
 