.mainContainer{
    background-color: #030b11;
    /* border: 2px solid red; */
    
}
.mainContainer p{
    color: #fff;
    text-align: center;
}
/* Float four columns side by side */
.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
   
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0  20px;}
 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    
    
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top:20px;
    height: 230px;
    background: #061C2B;

    
    
  }
  .card img{
    height: 100px;
    width: 190px;
    border-radius: 0px;
  }
  .CardPara{
    /* border: 1px solid rgb(68, 22, 218); */
    width: 190px;
    height: 130px;
    margin-top: -10px;
   
  }